.loader-parent{
    width: 100%;
    height:100px;
    position: absolute;
    left:50%;
    top:-500px;
    transform:translate(-50%, -50%);  
    z-index:4;  
}

.loader-container{
    position:relative;    
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;    
  }
  
  .loader-ring{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 90px;
    height: 90px;
    background-color: red;
    border-radius: 50%;
  }
  
  .loader-core{
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
    
  }
  
  .loader-spinner{
    height: 100%;
    width:10px;
    background-color:yellow;
    position:absolute;
    animation: spinning-animation 2s ease-in infinite alternate running
  }
  
  .loading{
    z-index:5;
    display:block;
    position:absolute;
    font-size:22px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  @keyframes spinning-animation{
    0%{
      transform:rotate(90deg);
    }
    
    25%{
      transform:rotate(180deg);    
    }
    
      50%{
      transform:rotate(180deg);    
    }
    
      75%{
      transform:rotate(270deg);    
    }
    
      100%{
      transform:rotate(360deg);    
    }
  }