.header{
    position: relative;    
}

.header-image{
    height:500px;
    object-fit: cover;
    width:100%;    
}

.blogico{
    position: absolute;
    display: block;
    top: 10%;    
    left:50%;
    transform:translate(-50%);
    font-size: 80px;
    font-family: "Lora", serif;
    color:#ffffff;
}