@import url('../../../assets/global.css');

.blog-post-container{
    margin:4rem 0;
    position: relative;
    left:50%;
    transform: translate(-50%);
    height: fit-content;
    width: 600px;
    height: fit-content;
    display:flex;
    flex-direction: column;    
    gap: 2rem; 
}
.blog-post-image{
    width:100%;
    border-radius:7px;
}

.blog-post-title-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .blog-post-title  {
    font-family: var(--josefin-sans);
}

.blog-post-title-input{
    font-family: var(--josefin-sans);
    font-size:30px;
    padding: 1rem;
    border:none;
    border-bottom: 2px solid #000000;
    text-align: center;
}
.blog-post-title-input:focus{
    outline:none;
}

.edit , .trash{
    cursor: pointer;
}

.post-ops{
    display:flex;
    gap: 1rem;
    position: absolute;
    right:0;
}

.blog-post-details{
    display:flex;
    justify-content: space-between;
}

.blog-post-details > p{
    font-family: var(--josefin-sans);
}

.author{
    margin-left: 10px;
    font-size: 20px;
}

.blog-post-desc ,.blog-post-desc-input{
    font-family: var(--lora);    
    font-size: 21px;
    line-height: 45px;
}
.blog-post-desc-input{
    font-family: var(--lora);    
    font-size: 21px;
    line-height: 45px;
    padding:1rem;
    border:none;
}
.blog-post-desc-input:focus{
    outline:none;
}

.blog-post-update-button{
    background-color: #008080;
    padding:var(--button-padding);
    color:var(--button-font-color);
    border-radius: var(--button-border-radius);
    align-self: flex-end;
    cursor: pointer;
}